body
{
	position: relative;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding-left: 10vw;
	background-color: #72d1dc;
}

h1
{
	font-family: 'Lobster Two', cursive;
	color: #72d1dc;
}

a
{
	color: #bad8db;
}

a:link
{
	color: #bad8db;
	text-decoration: underline;
	text-decoration-style: solid;
}

a:visited
{
	color: white;
	text-decoration: underline;
	text-decoration-style: dash;
}

a:focus,
a:hover,
a:active
{
	color: #bad8db;
	text-decoration: underline;
	text-decoration-style: dashed;
}

.title
{
	font-family: 'Lobster Two', cursive;
	color: #72d1dc;
	font-size: 6vh;
}

.animate-image
{
	border-radius: 25%;
	position: absolute;
	top: calc(25% + 50px);
	left: calc(100% - 20vw);
	height: 15vw;
	width: 15vw;
}

.content-section
{
	min-height: 70vh;
	background-color: #3d3d3d;
	position: relative;
}

.content-section p,
.content-section li
{
	width: 60vw;
}

.emphasis
{
	font-weight: bold;
	color: #72d1dc;	
}


.navbar-site-custom
{
	background-color: #3d3d3d;
}

.navbar
{	
	border-bottom-color: white !important;
	border-bottom-width: 5px;
}

.navbar-site-custom .navbar-nav .nav-link,
.navbar-site-custom .navbar-nav a
{
  color: #72d1dc;
  text-decoration: none;
}

.navbar-site-custom .navbar-nav > li.active > a
{
  color: #bad8db;
  background-color: #3d3d3d;
  text-decoration: none;
}

.navbar-site-custom .navbar-toggle:hover,
.navbar-site-custom .navbar-toggle:focus {
  background-color: #3d3d3d;
  font-variant: normal;
}

.navbar-site-custom .navbar-nav > li > a:focus, 
.navbar-site-custom .navbar-nav > li > a:hover
{
  background-color: #3d3d3d;
  color: #bad8db;
  text-decoration: none;
  font-variant: normal;
}

  
@media only screen and (max-width: 576px)
{
	/* for small devices */
	.mobile-only
	{
		display: inherit;
	}
}
@media only screen and (min-width: 577px)
{
	/* for PCs and large tablets */
	.mobile-only
	{
		display: none;
	}
}
